<!doctype html>
<html>
<head>
  <title>UIA Support</title>
  
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <script src="../src/internal/uia/decoder/AbstractMessage.js"></script>
  <script src="../src/internal/uia/decoder/TargetType.js"></script>
  <script src="../src/internal/uia/decoder/TargetDecoder.js"></script>
  <script src="../src/internal/uia/decoder/TargetEncoder.js"></script>
  <script src="../src/internal/uia/decoder/UAPacket.js"></script>
  <script src="../src/internal/uia/decoder/EventRecord.js"></script>
  <script src="../src/internal/uia/decoder/EvtRecHeader.js"></script>
  <script src="../src/internal/uia/decoder/ILoggerDecoder.js"></script>
  <script src="../src/internal/uia/decoder/BaseLoggerDecoder.js"></script>
  <script src="../src/internal/uia/UARTTransport.js"></script>
  
</head>
<body>
    <div id="debugDiv"></div>
	<script src='../src/internal/uia/decoder/test.js'></script>
</body>