<!-------------------------------------------------------------------------------------------------------------------------------- 
	Behavior meta data definitions 
---------------------------------------------------------------------------------------------------------------------------------->
<!-- <link rel="import" href="ti-widget-base-graph-metadata.html"> -->
<link rel="import" href="../ti-widget-common-behaviors/metadata.html">

<!-------------------------------------------------------------------------------------------------------------------------------- 
	Component meta data definitions 
---------------------------------------------------------------------------------------------------------------------------------->
<x-meta id="ti-widget-plot" Label="Plot" group="Graphs & Charts">
  <template>
    <ti-widget-plot style="width:380px;height:180px;" background-color="#FFFFFF" ></ti-widget-plot>
  </template>
  
  	<!-- Inherited 
	<inherit id="TiWidgetBaseGraph"/>
  -->
  <template id="imports">
    <link rel="import" href="ti-widget-plot.html">
  </template>
</x-meta>
